body{
    width: 90rem;
    height: 81.5rem;
    background: #FFF;
    margin: 0;
}
#c1 {
    top: 16px;
    left: 90px;
    position: absolute;
    width: 8.25rem;
    color: #FEFEFE;
    font-family: Rambla;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#c2 {
    top: 16px;
    left: 350px;
    position: absolute;
    width: 8.25rem;
    color: #FEFEFE;
    font-family: Rambla;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#c3{
    position: absolute;
    left: 680px;
    color: #FFF;
    font-family: "Maiandra GD";
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#c4{
    position: absolute;
    top: 16px; /* Ajuste conforme necessário */
    left: 48rem; /* Ajuste conforme necessário */
    width: 6.75rem;
    height: 2.8125rem;
    color: #1E6B82;
    font-family: Rambla;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 200px;
}
#c5{
    position: absolute;
    top: 16px; /* Ajuste conforme necessário */
    left: 65rem; /* Ajuste conforme necessário */
    width: 6.75rem;
    height: 2.8125rem;
    color: #1E6B82;
    font-family: Rambla;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 200px;
}

.container {
    position: relative; /* Para a navbar se basear nela */
    width: 50.75rem;
    height: 81.5rem;
}

.navbar {
    position: absolute;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: "Maiandra GD", sans-serif;
    font-size: 1.5rem;
    margin: 0 1rem;
}
